Library
metadata
ScriptAssemblies
UnityAssemblies
*.apk
/obj
*.suo
UnityVS.projectx.v11.suo
*.suo
*.cache
*.cache
Assets/Standard Assets/Terrain Assets/Trees Ambient-Occlusion/Palm/PalmBranch.psd.meta
*.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
